*{
	margin: 0;
	padding: 0;
}
.row [class*="col-"]{
	float: left;
}
@media only screen and (min-width: 1200px){
	col-lg-1{
		width: calc(100% / 12);
	}
	col-lg-2{
		width: calc(100% / 6);
	}
	col-lg-3{
		width: calc(100% / 4);
	}
	col-lg-4{
		width: calc(100% / 3);
	}
	col-lg-5{
		width: calc(100% / 12 * 5);
	}
	col-lg-6{
		width: calc(100% / 12 / 2);
	}
	col-lg-7{
		width: calc(100% / 12 * 7);
	}
	col-lg-8{
		width: calc(100% / 12 * 8);
	}
	col-lg-9{
		width: calc(100% / 12 * 9);
	}
	col-lg-10{
		width: calc(100% / 12 *10);
	}
	col-lg-11{
		width: calc(100% / 12 *11);
	}
	col-lg-12{
		width: calc(100% / 12);
	}
}
@media only screen and (min-width: 995px) and (max-width: 1200px)

@media only screen and (min-width: 768px) and (max-width: 995px)

@media only screen and (min-width: 995px)